/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2019, 10:36:23
    Author     : fatec
*/

root{
    display: block;        
}

body {
    background-color: #CCCCFF;
    color: #FF4444;    
}


div.menu{
    position: absolute;
    left: 100px;
    top: 50px;
    font-size: 30px;
    color: white;
}

div.conteudo{
    position: absolute;
    left: 100px;
    top: 150px;
    font-size: 25px;
    color: black;
}


a:link{
    font-size: 30px;
    color: white;
    border-left: 1px;
    text-decoration: none;
}

a:visited{
    font-size: 30px;
    color: white;
    border-left: 1px;
    text-decoration: none;
}

a:hover{
    font-size: 30px;
    color: #DDDDDD;
    text-decoration: none;
}
